@model MyTelegramBot.Orders

@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <input type="hidden" name="Id" id="Id" value="@Model.Id" />
        <h4>Заказ № @Model.Number</h4>
        <p>
            <label>Время:</label>
            @Html.DisplayFor(m=>m.DateAdd)
        </p>
        <p>
            <label>
                Комментарий к заказу:
            </label>
            @Html.DisplayFor(m=>m.Text)
        </p>
        <p>
            <label>
                Адрес доставки:
            </label>
            @Html.DisplayName(Model.OrderAddress.Adress.House.Street.City.Name + ", " + Model.OrderAddress.Adress.House.Street.Name + ", " + Model.OrderAddress.Adress.House.Number)
        </p>
        <p>
            <label>
                Пользователь:
            </label>
            <a href=@("https://t.me/"+ Model.Follower.UserName)>@(@Model.Follower.FirstName+" "+ @Model.Follower.LastName)</a>
        </p>

        <p>
            <label>
                Выполнен:
            </label>

            @if (Model.OrderDone != null)
        {
                @Html.DisplayFor(m => m.OrderDone.OrderByDescending(d=>d.Id).FirstOrDefault().DateAdd)

        }

        </p>
        <p>
            <label>
                Отзыв:
            </label>

            @if (Model.FeedBack != null)
        {
                @Html.DisplayFor(m => m.FeedBack.Text)

        }
        </p>
    </div>
    <div class="col-md-6">
        @if (Model.Invoice != null)
        {
            <div>
                <h4>Счет на оплату № @Model.Invoice.InvoiceNumber</h4>
                <p>
                    <label>Сумма:</label>
                    @Html.DisplayName(Model.Invoice.Value.ToString())
                </p>
                <p>
                    <label>
                        Способ оплаты
                    </label>
                    @Html.DisplayFor(m => m.Invoice.PaymentType.Name)
                </p>
                <p>
                    <label>
                        Адрес счета получателя:
                    </label>
                    @Html.DisplayFor(m => m.Invoice.AccountNumber)
                </p>
                <p>
                    <label>
                        Комментарий к платежу
                    </label>
                    @Html.DisplayFor(m => m.Invoice.Comment)
                </p>
                <p>
                    <label>
                        Оплачен:
                    </label>
                    @Html.DisplayFor(m => m.Invoice.Paid)
                    @Html.TextBox("Example")
                    <button type="button" class="btn btn-default btn-lg btn-block sp_bt disabled"  >Блочная кнопка</button>
                </p>
            </div>
        }
    </div>
</div>

<hr/>
<h4>Состав заказа</h4>
<table class="table">
    <tr>
        <td>Товар</td>
        <td>Цена</td>
        <td>Количество</td>
        <td>Общая стоимость</td>
    </tr>
    @foreach (var item in Model.OrderProduct)
    {
        <tr>
            <td><a href="~/Product/Editor/@item.ProductId">@item.Product.Name</a></td>
            <td>@(@item.Price.Value.ToString()+" "+@item.Price.Currency.ShortName)</td>
            <td>@item.Count</td>
            <td>@((@item.Count*@item.Price.Value).ToString()+" "+item.Price.Currency.ShortName)</td>
        </tr>
    }
</table>

<button type="button" id="InWorkBtn" class="btn btn-success btn-lg btn-block" onclick="ajaxTakeOrderInWork();" value="ВЗЯТЬ">ВЗЯТЬ</button>
<a class="btn btn-success btn-lg btn-block disabled"
   href="#" data-toggle="modal"
   data-target="#basicModal" id="ConfirmBtn">Заказ согласован</a>

@Html.Hidden("TmpInWork","true")
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#work" data-toggle="tab">Заказ взят в обработку</a></li>
    <li><a href="#confirm" data-toggle="tab">Заказ согласован</a></li>
    <li><a href="#done" data-toggle="tab">Заказ выполнен</a></li>
    <li><a href="#delete" data-toggle="tab">Заказ удален</a></li>
</ul>


<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="work">

            <table class="table">
                <thead>
                    <tr>
                        <td>Пользователь</td>
                        <td>Время</td>
                        <td>В работе</td>
                    </tr>
                </thead>
                <tbody class="_work_table">
                    @foreach (var work in Model.OrdersInWork)
                    {
                        <tr>
                            <td><a href=@("https://t.me/"+ work.Follower.UserName)>@(@work.Follower.FirstName + " " + @work.Follower.LastName)</a></td>
                            <td>@work.Timestamp</td>
                            <td>@work.InWork</td>
                        </tr>
                    }
                </tbody>
            </table>
        
    </div>
    <div class="tab-pane" id="confirm">
        @if (Model.OrderConfirm != null)
        {
            <table class="table">
                <tr>
                    <td>Пользователь</td>
                    <td>Время</td>
                    <td>Комментарий</td>
                </tr>
                @foreach (var confirm in Model.OrderConfirm)
                {
                    <tr>
                        <td><a href=@("https://t.me/"+ confirm.Follower.UserName)>@(@confirm.Follower.FirstName + " " + @confirm.Follower.LastName)</a></td>
                        <td>@confirm.DateAdd</td>
                        <td>@confirm.Text</td>
                    </tr>
                }
            </table>
        }
    </div>
    <div class="tab-pane" id="done">
        @if (Model.OrderDone != null)
        {
            <table class="table">
                <tr>
                    <td>Пользователь</td>
                    <td>Время</td>
                </tr>
                @foreach (var done in Model.OrderDone)
                {
                    <tr>
                        <td><a href=@("https://t.me/"+ done.Follower.UserName)>@(@done.Follower.FirstName + " " + @done.Follower.LastName)</a></td>
                        <td>@done.DateAdd</td>
                    </tr>
                }
            </table>
        }
    </div>
    <div class="tab-pane" id="delete">
        @if (Model.OrderDeleted != null)
        {
            <table class="table">
                <tr>
                    <td>Пользователь</td>
                    <td>Время</td>
                    <td>Комментарий</td>
                </tr>
                @foreach (var deleted in Model.OrderDeleted)
                {
                    <tr>
                        <td><a href=@("https://t.me/"+ deleted.Follower.UserName)>@(@deleted.Follower.FirstName + " " + @deleted.Follower.LastName)</a></td>
                        <td>@deleted.DateAdd</td>
                        <td>@deleted.Text</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>




<div class="modal fade" id="basicModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">x</button>
                <h4 class="modal-title" id="myModalLabel">Название модального окна</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("", ""))
                {
                    <label>Введите комментарий</label>
                    @Html.TextBox("TextConfirm")
                    

                }
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function ajaxTakeOrderInWork() {
        var Config = {
            'OrderId': $("#Id").val(), // как мне сюда передать айди этого заказа
            'InWork': $("#TmpInWork").val()
                    }

        $.ajax({
            type: "POST",
            url: '/Order/TakeInWork',
            data: JSON.stringify(Config),
            contentType: "application/json; charset=utf-8",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            dataType: "json"
        }).done(function (data) {
            console.info(data);
            if (data === "В работе" && $('#TmpInWork').val() == "true" ) { // Пользователь берет заявку в обработку
                $('#ConfirmBtn').removeClass('disabled');
                $('#TmpInWork').val('false'); //
                $('#InWorkBtn').text('Освободить');
                $("#Example").val(data);

                getTakeInWork(); // запрос табличных данных

                //$('._work_table')
            }
            if (data === "Свободна" && $('#TmpInWork').val() == "false") { // Пользователь освобождает заявку

                $('#TmpInWork').val('true');
                $("#Example").val(data);
                $('#InWorkBtn').text('ВЗЯТЬ');
                $('#ConfirmBtn').addClass('disabled');
            }

            //$("#Example").val(data);
            }).error(function (data) {
                // если с ответом сервера чтото пошло не так...
            })
    }

    function getTakeInWork() {
        $.ajax({
            type: "Get",
            url: '/Order/GetInWorkList?Id=' + $("#Id").val(), // кка айди передать
            contentType: "application/json; charset=utf-8",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            dataType: "json"
        }).done(function (data) {

            let tableDraw = '';
            try {
               // let tableDataJson = JSON.parse(data);
                data.forEach(function (elem) {
                    tableDraw += '<tr>';
                    tableDraw += '<td>' + elem.name + '</td>';
                    tableDraw += '<td>' + elem.Timestamp + '</td>';
                    tableDraw += '<td>' + elem.InWork + '</td>';
                    tableDraw += '</tr>';
                });
                $('._work_table').html(tableDraw);
                console.log(data);
            } catch (e) {


            }

        }).error(function (data) {
            // если с ответом сервера чтото пошло не так...
        })


    }
</script>