@model IEnumerable<MyTelegramBot.Orders>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = "_Layout";
}
<!DOCTYPE html>

@using (Html.BeginForm("Get", "Order", FormMethod.Get))
{
    <label>Введите номер заказа</label>
    @Html.TextBox("Id")
    <input type="submit" value="Открыть" class="btn btn-success" />
}




<table class="table">
    <tr>
        <td>Номер заказа</td>
        <td>Комментарий</td>
        <td>Дата</td>
        <td>Бот</td>
        <td>Выполнен</td>
    </tr>
    @foreach (var order in Model)
    {
        <tr>
            <td><a href="~/Order/Get/@order.Number">@("Заказ №"+@order.Number)</a></td>
            <td>@order.Text</td>
            <td>@order.DateAdd</td>
            <td><a href=@("https://t.me/" + order.BotInfo.Name)>@order.BotInfo.Name</a></td>
            @if (order.DoneNavigation == null)
            {
                <td>Нет</td>

            }
            @if (order.DoneNavigation != null)
            {
                <td>Да</td>

            }
        </tr>
    }
</table>